* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 14px;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background: #fffef5;
}

#page {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  height: 100vh;
  width: 100%;
  position: relative;
}

.container,
.main-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.main-container {
  position: relative;
  margin-top: 200px;
}

.hidden {
  display: none;
}

img {
  height: auto;
  width: 70px;
  align-self: center;
  padding: 10px 0;
}

h1,
h2,
h3 {
  font-family: 'Megrim', cursive;
}

h1 {
  font-size: 4em;
  letter-spacing: 14px;
  padding: 10px 0 30px 0;
}

h2,
h3 {
  letter-spacing: 1px;
}

h1,
nav {
  margin: 0;
}
/* ============= Header ================================== */
#header {
  text-align: center;
  background: #70BF80;
  color: #fff;
  padding: 30px 0 0;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 1000;
}

nav {
  background: #f6f6e4;
  border-bottom: 2px solid #e9e9b7;
}

nav .container {
  display: flex;
  justify-content: center;
  padding: 5px 0;
  align-items: center;
}

nav h1,
nav ul {
  margin: 0;
}

nav h2 {
  color: #222;
  margin-right: 10px;
}

nav ul {

  padding: 0;
}

nav li {
  list-style-type: none;
  display: inline;
}

/* ============= Buttons ================================= */
button {
  cursor: pointer;
  outline: none;
  color: #fff;
  font-size: 1.2em;
  padding: 7px;
  border: none;
}

#submit-btn {
  /*background: #1F558E;*/
  display: block;
  width: 100%;
  background: #127A7F;
}

#submit-btn:hover {
  /*background: #0E2B4B;*/
  background: #0B4D50;
}

.read-btn {
  width: 100%;
  font-size: 1.4em;
  /* background: #4D514F; */
  background: #1ABDBF;
  color: #fff;
  display: block;
  position: absolute;
  bottom: 0;
}

.read {
    background: #70BF80;
}

#open-search-modal-btn,
#open-form-modal-btn {
  outline: none;
  margin: 0 10px;
  background: none;
  color: #808080;
  border-bottom: 4px double #808080;
}

#open-search-modal-btn:hover,
#open-form-modal-btn:hover {
  /* color: #70BF80; */
  border-bottom: 4px double #70BF80;
}

#close-modal-btn,
.del-btn {
  position: absolute;
  right: 10px;
  top: 12px;
}

#close-modal-btn ,
.del-btn {
  background-color: #B72D3B;
  border-radius: 5px;
  padding: 5px 10px;
}

#close-modal-btn:hover,
.del-btn:hover {
  background: #6B1C25;
}

.add-to-library-btn {
  color: #fff;
  background: #1DBDBF;
}

.add-to-library-btn:hover {
  background: #117677;
}

.add-to-library-btn,
.read-btn {
  height: 40px;
  flex: 0 0 auto;
}

#search-btn {
  width: 15%;
  background: #3F8DBF;
}

#sort button {
  background: #eee;
  border: 1px solid #B5B9BD;
  color: #999EA5;
  margin: 5px 10px;
}

#sort button:hover {
  color: #474c53;
}

/* ============= Search  ============================= */
#sort {
  padding: 30px 0 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* ============= Search  ============================= */
#overlay {
  position:fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
  z-index:100;
  background-color:#444444;
  opacity:0.5;
  filter:alpha(opacity=50);
}

#modal {
  position: absolute;
  top: 7%;
  /* overflow: auto; */
  width: 100%;
  max-width: 1200px;
  border: 3px solid #eee;
  /* margin-top: 5%; /* temporary before I center modal in viewport*/ */
  position: relative;
  /* padding:10px; */
  z-index: 9999;
  background: #fff;
}

#modal header {
  display: flex;
  padding: 20px 0 40px;
}

#search-input-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border: 3px solid #eee;
  display: flex;
  justify-content: space-between;
}

input[type="search"] {
  font-size: 1.2em;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  height: 100%;
  border: 0;
}

/* ============= Search Results ========================== */
.search-result-item {
  /* width: 278px; */
  /* margin: 10px; */
  font-size: 14px;
  background: #eee;
}

/* ============= Library Entries ========================= */
#book-list,
#search-results {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.entry,
 .search-result-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 400px;
  width: 278px;
  margin: 10px;
}

.entry {
  border: 3px solid #7A7F7F;
  background: #f6f6e4;
  /* width: 379px; */
}

.entry:hover {
  box-shadow: 2px 1px 3px #a2a2a2;
}

.entry h2,
.search-result-item h2 {
  overflow: hidden;
  height: 68px;
  background: #7A7F7F;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 10px;
}

.entry h3,
.search-result-item h3 {
  padding: 5px 10px;
  margin: 5px 0;
  text-align: right;
}

.entry p,
.search-result-item p {
  padding: 3px 10px;
  margin: 0;
  text-align: center;
}

.entry p:last-of-type,
.search-result-item p:last-of-type {
  text-align: left;
  padding: 10px;
  line-height: 1.4em;
  overflow-y: scroll;
  font-size: 12px;
}

footer {
  padding: 40px 0;
  margin-top: 100px;
  text-align: center;
  color: #fff;
  background: #1BBDBF;
  font-size: 14px;
  width: 100%;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: #2B4B81;
  font-weight: bold;
}
