* { box-sizing: border-box; }

body {
  font-family: sans-serif;
  font-size: 16px;
  margin: 0;
}

#page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
}

.container,
.main-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.main-container {
  /* display: flex;
  flex-direction: column; */
  position: relative;
}
/*
.main-container,
#book-list {
  border: none;
} */

.hidden {
  display: none;
}

img {
  height: auto;
  width: 100px;
  align-self: center;
}
/* ============= Header ================================== */
#header {
  text-align: center;
}

#header .container {
  position: relative;
}


/* ============= Buttons ================================= */
button {
  cursor: pointer;
  outline: none;
  color: #fff;
  font-size: 1.2em;
  padding: 7px;
  border: none;
}

#submit-btn {
  /*background: #1F558E;*/
  display: block;
  width: 100%;
  background: #127A7F;
}

#submit-btn:hover {
  /*background: #0E2B4B;*/
  background: #0B4D50;
}

.read-btn {
  width: 100%;
  font-size: 1.4em;
  background: #4D514F;
  color: #fff;
  display: block;
}

/*.read-btn:hover {*/
/*  background: #2F312F;*/
/*}*/

.read {
    background: #70BF80;
}

#open-search-modal-btn {
  background: #1DBDBF;
  border-radius: 5px;
  outline: none;
  width: 15%;
}

#open-search-modal-btn,
#close-modal-btn,
.del-btn {
  position: absolute;
  right: 10px;
  top: 12px;
}

#close-modal-btn ,
.del-btn {
  background-color: #B72D3B;
  border-radius: 5px;
  padding: 5px 10px;
}

#close-modal-btn:hover,
.del-btn:hover {
  background: #6B1C25;
}

.add-to-library-btn {
  color: #fff;
  background: #1DBDBF;
}

.add-to-library-btn:hover {
  background: #117677;
}

#search-btn {
  width: 15%;
  background: #3F8DBF;
}
/* ============= Search  ============================= */
#overlay {
  position:fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
  z-index:100;
  background-color:#444444;
  opacity:0.5;
  filter:alpha(opacity=50);
}

#modal {
  position: absolute;
  top: 7%;
  /* overflow: auto; */
  width: 100%;
  max-width: 1200px;
  border: 3px solid #eee;
  /* margin-top: 5%; /* temporary before I center modal in viewport*/ */
  position: relative;
  /* padding:10px; */
  z-index: 9999;
  background: #fff;
}

#modal header {
  display: flex;
  padding: 20px 0 40px;
}

#search-input-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border: 3px solid #eee;
  display: flex;
  justify-content: space-between;
}

input[type="search"] {
  font-size: 1.2em;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  height: 100%;
  border: 0;
}

/* ============= Search Results ========================== */
#search-results {
  display: flex;
  /*flex-direction: column;*/
  flex-wrap: wrap;
}

.search-result-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 278px;
  margin: 10px;
  font-size: 14px;
  background: #eee;
}

.search-result-item h2 {
  margin: 0;
  border-bottom: 2px solid #ddd;
  text-align: center;
  padding: 10px 0;
}

.search-result-item h3 {
  margin: 5px 0;
  text-align: right;
  padding-right: 10px;
}

.search-result-item p {
  margin: 5px 0;
  padding: 10px;
  text-align: center;
}



/* ============= Library Entries ========================= */
#book-list {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  margin: 60px 0;
  height: 100%;
  width: 100%;
}

.entry {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* flex: 1 1 auto; */
  position: relative;
  width: 379px;
  margin: 10px;
  border: 3px solid #7A7F7F;
}

.entry h2 {
  text-align: center;
  /*background: #0A4446;*/
  background: #7A7F7F;
  color: #fff;
  margin: 0;
  padding: 20px;
}

.entry h3 {
  padding: 0 10px;
  margin: 5px 0;
  text-align: right;
}

.entry p {
  padding: 0 10px;
}

footer {
  padding: 40px 0;
  text-align: center;
  color: #fff;
  background: #1BBDBF;
  font-size: 14px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: #2B4B81;
  font-weight: bold;
}
