.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .empty-library-msg {
  font-size: 2em;
  color: white;
}

#modal-content-container {
  position: relative;
  background: white;
  padding: 40px;
}

.close-modal-btn {
}
